@import 'mixin';
.account-forgot-pwd-page {
  @include wh(100%, 100%);
  overflow: hidden;
  --background: #{$default_background_color};
  .forgot-pwd-container {
    @include flex-justify-align(flex-start, center);
    flex-direction: column;
    .title-info {
      @include wh(100%, format(246));
      @include flex-justify-align(center, center);
      .title-text {
        @include sc(format(44), var(--ion-color-primary));
        font-weight: bold;
      }
    }
    .form-model {
      .custom-input {
        @include wh(format(630), format(92));
        margin-bottom: format(20);
        .label-text {
          @include flex-justify-align();
          @include sc(format(28), $default_color_4);
          @include wh(format(170), 100%);
        }
      }
    }
    .submit-info {
      margin-top: format(40);
      .submit-btn {
        @include wh(format(630), format(92));
        margin: 0;
        &::part(native) {
          border-radius: format(8);
        }
      }
    }
    .other-info {
      @include wh(format(630), format(92));
      @include flex-justify-align(space-between, center);
      .label-text {
        @include sc(format(28), var(--ion-color-primary));
        @include click-active();
      }
    }
  }
}
