<ion-content class="account-forgot-pwd-page">
  <section class="forgot-pwd-container">
    <header class="title-info">
      <h3 class="title-text">忘记密码</h3>
    </header>
    <form [formGroup]="validateForm" class="form-model">
      <section class="custom-input">
        <swipe-input formControlName="identifier" type="number" placeholder="请输入手机号" [isClear]="true"></swipe-input>
      </section>
      <section class="custom-input">
        <swipe-input
          type="number"
          formControlName="smsCode"
          placeholder="请输入验证码"
          [maxLength]="6"
          [isClear]="true"
          [isSuffix]="true">
          <span *ngIf="!getCodeStatus; else elseTemplate" name="suffix" class="label-text" (click)="fetchCodeEvent()">获取验证码</span>
          <ng-template #elseTemplate>
            <span name="suffix" class="label-text">{{timeOut}}S后重新获取</span>
          </ng-template>
        </swipe-input>
      </section>
      <section class="custom-input">
        <swipe-input formControlName="credential" type="password" placeholder="请输入新登录密码" [isClear]="true"></swipe-input>
      </section>
      <section class="custom-input">
        <swipe-input formControlName="check_password" type="password" placeholder="请确认密码" [isClear]="true"></swipe-input>
      </section>
    </form>
    <section class="submit-info">
      <ion-button [disabled]="!validateForm.valid" class="submit-btn" expand="block" color="primary" (click)="submitChange()">确认提交</ion-button>
    </section>
  </section>
</ion-content>
