<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="添加名片" [isBack]="false" [customRight]="true">
    <span (click)="openMenuInfo()" name="right" class="other-btn">选择名片</span>
  </swipe-header>
</ion-header>

<ion-content class="carte-page" id="carte-main">
  <section class="carte-container">
    <ion-header class="carte-header">
      <swipe-steps></swipe-steps>
    </ion-header>
    <section class="carte-content">
      <ion-router-outlet class="custom-router-outlet"></ion-router-outlet>
    </section>
  </section>
</ion-content>

<swipe-business-info (change)="businessChange($event)" [menuKey]="'carte-main'" #swiperCustomMenu></swipe-business-info>
