<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="代办事宜" [isBack]="false" [customRight]="true">
    <span (click)="openMenuInfo()" name="right" class="other-btn">选择名片</span>
  </swipe-header>
</ion-header>

<ion-content class="upcoming-page" id="upcoming-main">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="bubbles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <section class="upcoming-container">
    <!-- 操作类 -->
    <section class="tools-info">
      <section class="count-info">
        <ion-button class="current-btn" color="primary">正在进行5个任务</ion-button>
        <ion-button class="success-btn" color="success">已完成10个任务</ion-button>
      </section>
      <ion-button class="new-card-btn" color="primary" (click)="openNewCartePage()">添加新名片</ion-button>
    </section>
    <!-- 分割线 -->
    <section class="line-info">
      <span class="label-text">代办任务</span>
    </section>
    <!-- 任务列表 -->
    <ion-list class="task-info" *ngIf="renderArray.length; else tempNullContext">
      <section class="task-info-item" *ngFor="let item of renderArray">
        <swipe-task-info-cell [renderInfo]="item"></swipe-task-info-cell>
      </section>
    </ion-list>
    <ng-template #tempNullContext>
      <swipe-null></swipe-null>
    </ng-template>
  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<swipe-business-info (change)="businessChange($event)" [menuKey]="'upcoming-main'" #swiperCustomMenu></swipe-business-info>
