<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="代办事宜" [isBack]="false" [customRight]="true">
    <span (click)="openMenuInfo()" name="right" class="other-btn">选择名片</span>
  </swipe-header>
</ion-header>

<ion-content class="upcoming-page" id="upcoming-main">
  <section class="upcoming-container">
    <!-- 操作类 -->
    <section class="tools-info">
      <section class="count-info">
        <ion-button class="current-btn" color="primary">正在进行5个任务</ion-button>
        <ion-button class="success-btn" color="success">已完成10个任务</ion-button>
      </section>
      <ion-button class="new-card-btn" color="primary" (click)="openNewCartePage()">添加新名片</ion-button>
    </section>
    <!-- 分割线 -->
    <section class="line-info">
      <span class="label-text">代办任务</span>
    </section>
    <!-- 任务列表 -->
    <section class="task-info">
      <section class="task-info-item">
        <swipe-task-info-cell></swipe-task-info-cell>
      </section>
    </section>
  </section>
</ion-content>

<!-- 侧窗 -->
<ion-menu class="custom-side-menu" menuId="upcoming" side="end" type="push" contentId="upcoming-main">
  <ion-header>
    <ion-toolbar>
      <ion-title>选择名片</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="medium">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content-info">
    <section class="platform-info">
      <section class="platform-item" (click)="openPlatformPickerEvent($event)">
        <span class="label-text">平台：</span>
        <span class="value-text">淘宝</span>
        <ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
      </section>
      <section class="platform-item">
        <span class="label-text">买号：</span>
        <input class="code-input" type="text" placeholder="请输入要搜索的买号"/>
      </section>
    </section>
    <section class="btn-group">
      <ion-button color="primary" class="btn-search">查询</ion-button>
      <ion-button class="btn-reset">清空</ion-button>
    </section>
    <ion-content>
      <ion-list>
        <swipe-business-card-info></swipe-business-card-info>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="正在加载更多数据...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-content>
</ion-menu>

<!-- <ion-router-outlet id="main"></ion-router-outlet> -->

