<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="我的任务" [isBack]="false" [customRight]="true">
    <span (click)="openMenuInfo()" name="right" class="other-btn">{{ (businessConfig && businessConfig.selected) ? businessConfig.businessName : '选择名片'}}</span>
  </swipe-header>
</ion-header>

<ion-header class="custom-tab-info">
  <ion-segment class="custom-segment" (ionChange)="segmentChanged($event)" [(ngModel)]="taskRenderConfig.status">
    <ion-segment-button class="custom-segament-button" *ngFor="let item of tabConfig" [value]="item.value">
      <ion-label class="custom-sty">{{item.label}}({{item.number}})</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="task-page" id="task-main">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="bubbles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <section class="task-container">
    <!-- 任务列表 -->
    <ion-list class="task-info" *ngIf="taskRenderList.length; else tempNullContext">
      <section class="task-info-item">
        <swipe-task-info-cell *ngFor="let item of taskRenderList" [renderInfo]="item" [isCustomHandler]="true">
          <section class="custom-handler" name="customTemp" [ngSwitch]="taskRenderConfig.status">
            <ion-button class="hand-view" (click)="openTaskInfoPage(item)">查看</ion-button>
            <ion-button class="cancel" *ngSwitchCase="1" (click)="openCancelConfirm(item)">取消</ion-button>
            <!-- <ion-button class="cancel" *ngSwitchCase="2" (click)="openCancelConfirm(item)">取消</ion-button> -->
            <ion-button class="cancel" *ngSwitchCase="6" (click)="openRightsModal(item)">维权</ion-button>
          </section>
        </swipe-task-info-cell>
      </section>
    </ion-list>
    <ng-template #tempNullContext>
      <swipe-null></swipe-null>
    </ng-template>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="正在加载更多数据...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </section>
</ion-content>

<swipe-business-info (change)="businessChange($event)" [menuKey]="'task-main'" #swiperCustomMenu></swipe-business-info>
