@import 'mixin';
.step2-component {
  --background: #{$default_background_color};
  .custom-input {
    @include wh(100%, format(88));
    background-color: $default_color;
    padding: 0 format(40);
    margin-bottom: format(2);
    .label-text {
      @include flex-justify-align(flex-end, center);
      @include wh(format(130), 100%);
      @include sc(format(30), $default_color_3);
    }
    .btn-view {
      @include wh(auto, format(56));
      @include sc(format(24), $default_color);
      @include flex-justify-align(center, center);
      @include click-active();
      background-color: var(--ion-color-primary);
      padding: 0 format(44);
      border-radius: format(8);
      outline: none;
    }
  }
  .up-load-info {
    margin-top: format(20);
    background-color: $default_color;
    padding: 0 format(40) format(40);
    .header-info {
      @include wh(100%, format(98));
      @include flex-justify-align(flex-start, center);
      .label-text {
        @include sc(format(30), $default_color_3);
      }
      .intro-text {
        @include sc(format(30), $default_color_4);
      }
    }
  }
  .dot-info {
    margin-top: format(20);
    background-color: $default_color;
    padding: 0 format(40) format(40);
    .credibility {
      @include wh(100%, format(250));
      @include flex-justify-align(center, flex-start);
      flex-direction: column;
      border-bottom: format(2) solid $default_background_color;
      .anthor {
        @include wh(format(120), format(120));
      }
      .label-text {
        @include sc(format(30), $default_color_3);
        margin-top: format(26);
        font-weight: 400;
      }
    }
    .dot-group {
      @include wh(100%, auto);
      @include grid-col-row-gap(repeat(4, format(160)), repeat(auto, format(126)), format(10), format(20));
      .dot-item {
        @include flex-justify-align(center, center);
        @include wh(100%, format(126));
        border: format(2) solid $default_border_color;
        border-radius: format(8);
        flex-direction: column;
        .label-text {
          @include sc(format(34), $default_color_1);
          font-weight: 400;
        }
        .value-text {
          @include sc(format(24), $default_color_4);
          margin-top: format(5);
        }
      }
    }
  }
}

.footer {
  .footer-btn-group {
    @include flex-justify-align(center, center);
    .btn-item {
      flex: 1;
      margin: 0;
      &::part(native) {
        border-radius: 0;
      }
    }
  }
}
