<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="资金详情" [isBack]="true"></swipe-header>
</ion-header>

<ion-content class="funding-details-page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="bubbles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="content" *ngIf="renderArray.length; else tempNullContext">
    <swipe-info-cell [renderInfo]="item" *ngFor="let item of renderArray"></swipe-info-cell>
  </ion-list>
  <ng-template #tempNullContext>
    <swipe-null></swipe-null>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
