<section class="task-order-information-component">
  <section class="content-intro">
    <section class="min-title">
      <span class="title-text">做单信息</span>
    </section>
    <section class="upload-info">
      <span class="label-text">任意浏览信息，上传图片</span>
      <swipe-upload [maxFileListLength]="3" [(ngModel)]="imagesVos" (ngModelChange)="imagesVosChange()"></swipe-upload>
      <ng-container>
        <section class="custom-input" *ngIf="(renderInfo.stepSubjoinItem || '').includes('ORDER_NO')">
          <!-- [(value)]="loginForm.credential" -->
          <swipe-input [(ngModel)]="submitTaskForm.orderNo" type="number" placeholder="请输入订单号" [isClear]="true" [isRequired]="true" (onBlur)="taskFormChange()"></swipe-input>
        </section>
        <section class="custom-input" *ngIf="(renderInfo.stepSubjoinItem || '').includes('PAID_AMOUNT')">
          <!-- [(value)]="loginForm.credential" -->
          <swipe-input [(ngModel)]="submitTaskForm.paidAmount" type="number" placeholder="请输入实际付款金额" [isClear]="true" [isRequired]="true" (onBlur)="taskFormChange()"></swipe-input>
        </section>
      </ng-container>
    </section>
  </section>
</section>
