<ion-tabs (ionTabsDidChange)="tabsChange($event)">
  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
    <ion-tab-button tab="upcoming">
      <ion-icon *ngIf="checkedTabsName !== 'upcoming'" src="assets/svgs/public/toolbar/swipe_public_toolbar_01@2x.svg"></ion-icon>
      <ion-icon *ngIf="checkedTabsName === 'upcoming'" src="assets/svgs/public/toolbar/swipe_public_toolbar_01_check@2x.svg"></ion-icon>
      <ion-label class="label">代办</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="task">
      <ion-icon *ngIf="checkedTabsName !== 'task'" src="assets/svgs/public/toolbar/swipe_public_toolbar_02@2x.svg"></ion-icon>
      <ion-icon *ngIf="checkedTabsName === 'task'" src="assets/svgs/public/toolbar/swipe_public_toolbar_02_check@2x.svg"></ion-icon>
      <ion-label class="label">任务</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rights-protection">
      <ion-icon *ngIf="checkedTabsName !== 'rights-protection'" src="assets/svgs/public/toolbar/swipe_public_toolbar_03@2x.svg"></ion-icon>
      <ion-icon *ngIf="checkedTabsName === 'rights-protection'" src="assets/svgs/public/toolbar/swipe_public_toolbar_03_check@2x.svg"></ion-icon>
      <ion-label class="label">维权</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon *ngIf="checkedTabsName !== 'user'" src="assets/svgs/public/toolbar/swipe_public_toolbar_04@2x.svg"></ion-icon>
      <ion-icon *ngIf="checkedTabsName === 'user'" src="assets/svgs/public/toolbar/swipe_public_toolbar_04_check@2x.svg"></ion-icon>
      <ion-label class="label">我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
