@import 'mixin';

.custom-header {
  .custom-header-component {
    .other-btn {
      @include sc(format(28), var(--ion-color-primary));
      @include click-active();
      transform: translateY(-50%);
      position: absolute;
      right: format(34);
      top: 50%;
      font-weight: 500;
    }
  }
}

.contact-customer-service-page {
  --background: #{$default_background_color};
  .content {
    margin-top: format(20);
  }
}
