<section class="task-card-component">
  <section class="header-info">
    <span class="title-text">1、热身运动</span>
  </section>
  <section class="step-info">
    <section class="step-item">
      <span class="label-text">步骤奖励：</span>
      <span class="value-text light">1元</span>
    </section>
    <section class="step-item">
      <span class="label-text">返款时效：</span>
      <span class="value-text">秒返</span>
    </section>
  </section>
  <section class="content-intro">
    <section class="min-title">
      <span class="title-text">任务说明</span>
    </section>
    <article class="content-html">扫描二维码，点击任一宝贝，把看到的宝贝拍照上传。</article>
  </section>
</section>
