<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="提现申请" [isBack]="true"></swipe-header>
</ion-header>

<ion-content class="withdraw-application-page">
  <section class="count-info">
    <span class="lable-text">提现金额</span>
    <section class="withdraw-info">
      <input type="number" [(ngModel)]="amountConfig.amount" class="price-input" placeholder="请输入需要提现的金额">
      <span class="all-count" (click)="amountAllChange()">全部提现</span>
    </section>
    <section class="count-balance" *ngIf="amountInfo">
      <span class="lable-text">当前余额：{{amountInfo.balance|price}}元</span>
    </section>
  </section>
  <section class="withdraw-intro">
    <section class="title-text">
      <span>提现方式</span>
    </section>
    <section class="type-group">
      <ion-segment [(ngModel)]="amountConfig.payAccountId">
        <ion-segment-button [value]="item.id" *ngFor="let item of withdrawTypeRender">{{item.payType|paytype}}</ion-segment-button>
      </ion-segment>

      <section class="paytype-info">
        <section class="label-item">
          <span class="label-text">姓名：</span>
          <span class="value-text">{{ handlerPayTypeInfo().accountId }}</span>
        </section>
        <section class="label-item">
          <span class="label-text">支付宝账号：</span>
          <span class="value-text">{{ handlerPayTypeInfo().account }}</span>
        </section>
      </section>

    </section>
  </section>
  <section class="footer-btn">
    <ion-button class="submit-btn" color="primary" (click)="submitChange()">确认提交</ion-button>
  </section>
</ion-content>
