<ion-header class="custom-header">
  <swipe-header class="custom-header-component" title="提现申请" [isBack]="true"></swipe-header>
</ion-header>

<ion-content class="withdraw-application-page">
  <section class="count-info">
    <span class="lable-text">提现金额</span>
    <section class="withdraw-info">
      <input type="number" class="price-input" placeholder="请输入需要提现的金额">
      <span class="all-count">全部提现</span>
    </section>
    <section class="count-balance">
      <span class="lable-text">当前余额：6900000元</span>
    </section>
  </section>
  <section class="withdraw-intro">
    <section class="title-text">
      <span>提现备注</span>
    </section>
    <section class="type-group">
      <section class="type-item" *ngFor="let item of withdrawTypeRender">
        <swipe-checkbox [(checkboxRender)]="item.renderCheck"></swipe-checkbox>
        <span class="intro">{{item.label}}</span>
      </section>
    </section>
  </section>
  <section class="footer-btn">
    <ion-button class="submit-btn" color="primary">确认提交</ion-button>
  </section>
</ion-content>
