<section [ngClass]="['swipe-input-component',
  isFocus ? 'focus' : 'blur',
  isError ? 'error' : '',
  validateControll.status,
  flat > 2 ? (validateControll.valid ? 'success' : 'error') : 'no-content',
  isBorder ? 'border' : 'no-border']">
  <section class="prefix" *ngIf="isPrefix">
    <ng-content select="[name=prefix]"></ng-content>
  </section>
  <section class="context-input">
    <input
      [name]="name"
      [type]="type"
      [placeholder]="placeholder"
      [maxlength]="maxLength"
      [minlength]="minLength"
      [formControl]="validateControll"
      (ngModelChange)="inputChange($event)"
      (focus)="inputFocusChange($event)"
      (blur)="inputBlurChange($event)"
      class="input-class" />
    <ion-icon (click)="clearInputEvent($event)" *ngIf="value && isClear" class="icon-clear" name="close-circle-outline"></ion-icon>
  </section>
  <section class="suffix" *ngIf="isSuffix">
    <ng-content select="[name=suffix]"></ng-content>
  </section>
</section>
