<section class="business-card-info-component" (click)="changeBusinessInfo()" *ngIf="renderInfo">
  <section class="header-info">
    <span class="title-text">{{renderInfo.nickname}}</span>
  </section>
  <section class="btn-group">
    <button class="btn-item">资料</button>
    <button class="btn-item">备注</button>
    <button class="btn-item">查单</button>
    <button class="btn-item">接单</button>
    <button class="btn-item">接单检测</button>
    <button class="btn-item">删除</button>
  </section>
</section>
