<ion-content class="account-register-page">
  <section class="register-container">
    <header class="title-info">
      <h3 class="title-text">注册账号</h3>
    </header>
    <form [formGroup]="registerForm" (submit)="submitChange()">
      <section class="form-model">
        <section class="custom-input">
          <swipe-input formControlName="nickname" type="text" placeholder="请输入您的用户名" [pattern]="'.*'" [isClear]="true" [isRequired]="false"></swipe-input>
        </section>
        <section class="custom-input">
          <swipe-input formControlName="credential" type="password" placeholder="请输入登录密码" [isClear]="true"></swipe-input>
        </section>
        <section class="custom-input">
          <swipe-input formControlName="credential_check" type="password" placeholder="请重新输入密码" [isClear]="true"></swipe-input>
        </section>
        <section class="custom-input">
          <swipe-input formControlName="recommendCode" type="text" placeholder="请输入邀请码" [isClear]="true"></swipe-input>
        </section>
        <section class="custom-input">
          <swipe-input formControlName="identifier" type="number" placeholder="请输入手机号" [isClear]="true" [pattern]="'^1[3-9]{1}[0-9]{9}$'" [isRequired]="false"></swipe-input>
        </section>
        <section class="custom-input">
          <swipe-input
            type="number"
            formControlName="smsCode"
            placeholder="请输入验证码"
            [maxLength]="6"
            [pattern]="'^[0-9]{6}$'"
            [isClear]="true"
            [isSuffix]="true">
            <span *ngIf="!getCodeStatus; else elseTemplate" name="suffix" class="label-text" (click)="fetchCodeEvent()">获取验证码</span>
            <ng-template #elseTemplate>
              <span name="suffix" class="label-text">{{timeOut}}S后重新获取</span>
            </ng-template>
          </swipe-input>
        </section>
      </section>
      <section class="submit-info">
        <ion-button type="submit" class="submit-btn" expand="block" color="primary" [disabled]="!registerForm.valid">注册</ion-button>
      </section>
    </form>
    <section class="other-info">
      <span class="label-text" (click)="openLoginPage()">已有账号，去登录</span>
    </section>
  </section>
</ion-content>
